MJDATA.TXT
MUJOCO_LOG.TXT
*.slxc
*.autosave
*.asv
slprj/
html/
*ert_rtw/
*_ert_shrlib_rtw/
*_rtw/
callgrind.out*
*.slx.original
*.zip
*.tar.gz
*.gz
*.o
references/
*.exe
*.out
*.dylib
*.dll
*.so

# Default files to ignore from MATLAB
*.asv
*.autosave
*.bak
*.mex*  <- Keep this commented or remove if you want to ignore all mex types by default
*.mexw64  <- Removed to track Windows MEX files
*.mexa64
*.mexi64
*.pdb     <- Removed to track PDB debug symbols

BF_RESULT/
temp/
model_report.htmx

CP_result/
BP_result/
*.r2021b
*.r2022a
*.r2021a
.vs/
.vscode/
win64/
glnxa64/
maci64/
maca64/
arm64/